<%- include("partials/header.ejs") %>


<h1>About Me</h1>
<img class="profile" src="images/cat.jpeg" alt="cat profile">
<p>
Myself, Sheikh Rehan I,m a fullstack web-developer and a programmer. My major is full stack web-development and im a curious 
computer sciencist.</p>

  <%- include("partials/footer.ejs") %>