<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p><h1>Hi, I am a Web Developer</h1>
  </p>
  <p>
  I'm a Web Developer with extensive experience. My expertise is to create and design websites.                                                                                                                                                                                                                                                                                                                                                                                 </p>

  <%- include("partials/footer.ejs") %>